<app-dashboard></app-dashboard>
<br>
<br>
<br>
<br>

<h1 style="color: green;padding: 10px; text-align:center;">Hello <b>{{shareService.userData}} </b> Welcome to our Website</h1>
<!-- 

<div class="search-user" style="width: 30%; padding: 3%;padding-left: 30%;">
    <input type="text" placeholder="enter text to search" class="search-input" [(ngModel)]="searchText"  > -->
<!--     
</div> -->

<div class="table" style="padding: 0%; padding-left: 30%;text-align: center; " >
    <table>
        <tr>
        <th>UserID</th>
        <th>Id</th>
        <th>Title</th>
        <th>Completed</th>
        </tr>

   
        
        <tr *ngFor="let u of userData">
            <td>{{u.userId}}</td>
            <td>{{u.id}}</td>
            <td>{{u.title}}</td>
            <td>{{u.completed}}</td>
        </tr>
    </table>
</div>


