.login-align{
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    display:flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background:rgb(217, 217, 250);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10 5 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    
}
h1 {
    text-align: center;
    margin-bottom: 100px;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display:block;
    margin-bottom: 5px;
}
input {
    width: 100%;
    padding: 9px;
    border: 1px solid #87b7bb;
    border-radius: 3px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
error{
    border: 1px solid red;
}
